            *{
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }
            h1{
                text-align: center;
                text-decoration: underline;
            }
            .box{
                background-color: gray;
                border: 3px solid black;
                margin: 1%;
                float: left;
            }
            p{
                clear: both;
                padding: 3.5%;
                margin: 0;
            }
            .box1{
                background-color: cornflowerblue;
                float: right;
                padding: 10px;
                border-bottom: 3px solid black;
                border-left: 3px solid black;
                border-bottom: 3px solid black;
                
            }
            .box2{
                background-color: darkkhaki;
                float: right;
                padding: 10px;
                border-bottom: 3px solid black;
                border-left: 3px solid black;
                border-bottom: 3px solid black;
            }
            .box3{
                background-color: lightcoral;
                float: right;
                padding: 10px;
                border-bottom: 3px solid black;
                border-left: 3px solid black;
                border-bottom: 3px solid black;
            }
            @media (min-width:992px){
                .box{
                    width: 31%;
                }
            }
            @media (min-width: 768px) and (max-width: 991px){
                .box{
                    width: 47%;
                }
                #size{
                    width: 96%;
                    
                }
            }
            @media (max-width: 767px){
                    .box{
                        width: 100%;
                    }
            }
        